
<div class="row">
    <div class="col-md-8 col-md-offse-2">
        <h1>User Profile</h1>
        <hr>

        <form action="/saveprofile" method="post">
           <div class="form-group">
                <lable for="email">First Name:</lable>
                <input type="text" id="fname" name="fname" class="form-control">
            </div>
            <div class="form-group">
                <lable for="email">Last Name:</lable>
                <input type="text" id="lname" name="lname" class="form-control">
            </div>
            <div class="form-group">
                <lable for="email">Expenditure:</lable>
                <input type="text" id="expenditure" name="expenditure" class="form-control">
            </div>
            <div class="form-group">
                <lable for="email">Monthly Income</lable>
                <input type="text" id="monthincome" name="monthincome" class="form-control">
            </div>
            <div class="form-group">
                <lable for="email">Savings Minimum</lable>
                <input type="text" id="savmin" name="savmin" class="form-control">
            </div>
            <div class="form-group">
                <lable for="email">Fees for 6Mo:</lable>
                <input type="text" id="fess6" name="fess6" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        
   

        </div>
    

</div>