<div class="row">
    <div class="col-md-8 col-md-offse-2">
        <h1>User Profile Update</h1>
        <hr>
        
<a href="/update/">Update</a>
<a href="/expense/">Expense</a>          
            </div>
              </div>